/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body,
html {
  height: 100%;
}

#container {
    height: 100%;
}

#grid-cont {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
}

.nav {
    background-color: #1992d4;
    color: white;
    grid-area: 1 / 1 / 3 / 2;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2.3rem repeat(auto-fill, 20px);
    gap: 1em 0.2em;
}

#logo {
    height: 2.3rem;
    width: auto;
    align-self: start;
    justify-self: center;
}

h1 {
    font-size: 1.8rem;
    justify-self: start;
    align-self: center;
}

.nav img {
    height: 18px;
    width: auto;
    grid-column: 1 / 2;
    color: white;
    justify-self: center;
    align-self: center;
}


.nav p {
    grid-column: 2 / 3;
    justify-self: start;
    align-self: center;
    font-weight: 500;
    font-size: 1rem;
}

.header {
    padding: 1rem 1.5rem;
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
}

.search {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
}

.icon {
    height: 1.5rem;
    width: auto;
}

.search input {
    height: 1.3rem;
    border-radius: 10px;
    background-color: #e2e8f0;
    border: none;
}

.notifications {
    display: grid;
    width: max-content;
    grid-template-columns: min-content min-content max-content;
    grid-template-rows: 1fr;
    column-gap: 1.5rem;
    align-items: center;
    font-weight: 600;
    justify-content: end;
    justify-self: end;
}

.avatar {
    height: 2em;
    width: auto;
}

.user {
    display: grid;
    grid-template-columns: min-content 4fr;
    grid-template-rows: 1fr;
    align-items: center;
    column-gap: 15px;
}

.user img {
    height: 3.5em;
}

.avatar {
    align-self: center;
    justify-self: end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: min-content;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: max-content;
    gap: 2em;
    justify-self: end;
}

.buttons button {
    width: 70px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: #1992d4;
    color: white;
    font-weight: 500;
}

#articles {
    border: solid 2px red;
    background-color: #e2e8f0;
}